<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    </head>
    <body>

    <h1>Biology</h1>

    {% block login_logout_panel %}
        <ul>
            <li>
                <a href="{{ path('homepage') }}">
                    Homepage
                </a>
            </li>
            {% if is_granted('ROLE_USER') %}
                <li>Logged in as {{ app.user.username }}</li>
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_elephant') }}">
                        Elephant
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_bears') }}">
                        Bears
                    </a>
                        
                    <a href="{{ path('admin_malacostraca') }}">
                        Malacostraca
                    </a>
                    <a href="{{ path('admin_cats') }}">
                        Cats
                    </a> 
                    <a href="{{ path('admin_reptile') }}">
                        Reptiles
                    </a>
                        <a href="{{ path('admin_flower') }}">
                        Flower
                    </a>
                    <a href="{{ path('admin_tree') }}">
                        Tree
                    </a>
			<a href="{{ path('admin_crustacean') }}">
                        Crustaceans
                    </a>
                    <a href="{{ path('admin_fish') }}">
                        Fish
                    </a>

                    <a href="{{ path('admin_fungus') }}">
                        Fungus
                    </a>

                </li>
                
                 <li>
                   <a href="{{ path('admin_mushroom') }}">
                     Mushrooms
                   </a>
                 </li>
                <li>
                    <a href="{{ path('admin_dog') }}">
                       Dogs
                    </a>
                </li>
                 
                <li>
                    <a href="{{ path('admin_spider') }}">
                        Spiders
                    </a>    	
                    <a href="{{ path('admin_crustacean') }}">
                        Crustaceans
                    </a>
                                                                               
                    <a href="{{ path('admin_forest') }}">
                        Forests
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_insects') }}">
                        insects
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_Snail') }}">
                        Snail
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_birds') }}">
                        Birds
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('fos_user_security_login') }}">
                        {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endblock login_logout_panel %}


    {% block body %}{% endblock %}

    <footer>Version: 0.0.0</footer>

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
